:root {
    --background-color: #F8F8F8;
}
.project-container  {
    flex-grow: 1;
    display: flex;
}

.project-menu {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.project-content {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 50px;
    background-color: var(--background-color);
}

.project__content-body {
    width: 100%;
    height: 100vh;
    margin: 70px;
}

.project__content-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F8F8F8;
    padding-bottom: 40px;
}
.project__content-header h1,
.project__content-fb {
    background-color: var(--background-color);
}

.project-content-svg {
    padding: 2px;
    margin: 5px;
    cursor: pointer;
    background-color: #F8F8F8;
}
.project__content-content {
    border-radius: 10px;
}