.Header {
    background-color: #ffffff;
    color: #333333;
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 20px;
}

.theme-switcher {
    width: 40px;
    height: 40px;
    background-color: #f0f0f0;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
}

.theme-switcher:hover {
    background-color: #e0e0e0;
}

.right-block {
    display: flex;
    align-items: center;
    gap: 20px;
}

.left-block {
    display: flex;
    align-items: center;
    gap: 20px;
}

.sidebar {
    display: flex;
    margin-right: auto;
    margin-left: 20px;
}

.notification {
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
}

.person-logo {
    width: 50px;
    height: 50px;
    background-color: #f0f0f0;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
}

.person-logo:hover {
    background-color: #e0e0e0;
}

.personal-account {
    width: 100px;
    height: 50px;
    display: block;
    transition: background-color 0.3s ease;
}

.toggle {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
}

.user__name {
    font-weight: bold;
    font-size: 15px;
    color: #000000;
}

.user__role {
    font-size: 11px;
    color: #000000;
}
